{% extends 'default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1> framework for blondes</h1><br>
        <a href="{{ link }}"> Youtube chanel </a>
    </div>
{% endblock %}
